<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
<style>
h1 {
        color : red;
}
iframe {
        -ms-transform: rotate(90deg); /* IE 9 */
       -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
</style>
</head>
<body>
hello home!!!
{{aaa}}
<h1>Hello MAIN!!_h1</h1>
<h2>Hello MAIN!!_h2</h2>
<h3>Hello MAIN!!_h3</h3>
<!--<img src = "image/bono.jpg">-->
<br><br><br><br><br><br><br><br><br>
<iframe src="http://www.youtube.com/embed/parNq3zUP7c" width="768" height="432" frameborder="0" allowfullscreen=""></iframe>
<!--<br><br><br><br>-->
</body>
</html>
